div {
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  width: 300px;
  border: 40px solid rgb(0, 0, 0);
  padding: 50px;
  margin: 20px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  table, th, td, tr {
    border: 30px solid black;
  }
  th {
    font-size: 50px;
  }

  tr {
    font-size: 25px;
  }
  table {
    border-collapse: collapse;
    width: 800px;
    height: 750px;
    font-size: 50px;
  }
  

  
  
   

    